# See https://help.github.com/articles/ignoring-files/ for more about ignoring files.

# dependencies
/apps/node_modules
/.pnp
.pnp.js

# testing
/apps/coverage

# next.js
/apps/.next/
/apps/out/

# production
/apps/build

# misc
.DS_Store
*.pem
/.idea/

# debug
/apps/npm-debug.log*
/apps/yarn-debug.log*
/apps/yarn-error.log*

# local env files
/apps/.env.local
/apps/.env.development.local
/apps/.env.test.local
/apps/.env.production.local

# vercel
/apps/.vercel

