@import '../node_modules/antd/dist/antd.less';
@import '../node_modules/tailwindcss/dist/tailwind.min.css';
@import '../node_modules/tailwindcss/dist/components.min.css';
@import '../node_modules/tailwindcss/dist/utilities.min.css';

@primary-color: #2F5D62;
@secondary-color: #5E8B7E;

.bg-primary-color {
  background-color: #2F5D62;
}