@import '../node_modules/antd/dist/antd.less';
@import '../node_modules/tailwindcss/dist/tailwind.min.css';
@import '../node_modules/tailwindcss/dist/components.min.css';
@import '../node_modules/tailwindcss/dist/utilities.min.css';

@primary-color: #2F5D62;
@secondary-color: #5E8B7E;

.container-mobile {
  max-width: 400px !important;
}

// Background and text colors

.bg-primary-color {
  background-color: #2F5D62;
}

.text-primary {
  color: #2F5D62;
}